<body class="body">
  <h1 class="header">MessBot - Best connectivity app on market</h1>

  <div class="other-coloring">
    <h2 class="other-coloring-text header">Fast Chatting</h2>
    <p class="other-coloring-text header">
      MessBot is doing the work that ensures your contacts stable chatting. 24/7 without the lunch breaks. MessBot is absolutely for you if your goal is to:
    </p>
    <p class="other-coloring-column-text header">
      •	Chat with your friends FAST and SAFE
    </p>
    <p class="other-coloring-column-text header">
      •	Automate your Messenger account(s)
    </p>
    <p class="other-coloring-column-text header">
      •	Get more chats and users
    </p>
    <p class="other-coloring-column-text header">
      •	Get more benefits from your work on Messenger
    </p>
    <br>
  </div>

  <br>
  <h3 class="header">Main features</h3>
  <p class="header">
    MessBot have 2 simple features:
  </p>
  <p class="text header">
    •	Write to Users – MessBot starts writing to your friends!
  </p>
  <p class="text header">
    •	Delete conversations – MessBot keeps deleting old chats!
  </p>
  <br>

  <h3 class="header">Optional features</h3>
  <p class="header">
    MessBot has so many useful features:
  </p>
  <p class="text header">
    • MultiTask – MessBot can work with a few opened applications at the same time
  </p>
  <p class="text header">
    • Restart – If MessBot approach error starts it’s work again
  </p>
  <p class="text header">
    • Email notification – If MessBot approach an error it sends you an email with information that it needs to be
    restarted
  </p>
  <br>
  
<hr>
  <h3 class="header">MessBot is a Windows app-based social media automation software.</h3>
  <p class="header">
    It works best on Windows 7 and higher. It has even Windows 11 support! If you need it online 24/7 and always at your
    disposal from anywhere in the world set it up on a Windows VPS. MessBot is a flexible app that can adapt to any
    environment. It only needs proxies and it’s ready to go!
  </p>
  <br>

  <h3 class="header">MessBot needs to run continuously on your machine, to do its job.</h3>
  <p class="header">
    If you are a Mac OS or Linux user, you can install MessBot on a virtual machine or a VPS running Windows.
  </p>
  <br>

  <div class="other-coloring">
    <h2 class="other-coloring-text header">Try MessBot for FREE!</h2>
    <p class="other-coloring-text header">
      You can test MessBot for 7 days for FREE and see for yourself why people are still with us! Your time is more
      valuable than spending it on repetitive social media tasks. MessBot can do it even 15 times better and faster.
    </p>
    <div class="col-xs-10 col-sm-12 col-md-12 col-lg-12 col-xl-12 button-center">
      <a href="https://CodeChar.sellix.io/">
        <button class="button">Buy License</button>
      </a>
      <a routerLink="/download">
        <button class="button">Download</button>
      </a>
    </div>
  </div>
  <br>

  <h3 class="header text-center">Do you have a question? Contact us!</h3>
  <p class="header text-center">
    Send your questions via our dedicated contact form.
  </p>
  <div class="other-coloring back-coloring">
    <div class="col-xs-10 col-sm-12 col-md-12 col-lg-12 col-xl-12 button-center">
      <a routerLink="/email">
        <button class="button second-button">Contact</button>
      </a>
    </div>
  </div>
  <br>

  <footer>
    <div class="container" style="padding: 50px 0; font-size: 22px;" align="center">
      <a href="https://github.com/CodeChar" style="margin-right: 20px">
        <i class="bx bxl-github fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
      </a>
      <a href="https://discord.gg/b5xEUk7bRG" style="margin-right: 20px">
        <i class="bx bxl-discord fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
      </a>
      <a href="https://discord.gg/b5xEUk7bRG" style="margin-right: 20px">
        <i class="bx bx-shopping-bag fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
      </a>
      <a routerLink="/email">
        <i class="bx bx-mail-send fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
      </a>
    </div>
    <div style="background: #001eff;">
      <p style="color: var(--text-color); padding: 15px 0;" align="center">
        &copy; 2022 Copyright: <a routerLink="/email" style="color: var(--background-color);">Created By: CodeChar</a>
      </p>
    </div>
  </footer>

</body>
