@import url('https://fonts.googleapis.com/css2?family=Georama&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Georama", sans-serif;
  box-sizing: border-box;
}

body {
  padding-top: 10px;
  margin-left: 90px;
  margin-right: 12px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.about-section {
  transition: all .3s ease-in-out;
  background: url("../../../assets/images/aboutMeImg.jpg") no-repeat left;
  background-size: 55%;
  background-color: var(--box-color);
  overflow: hidden;
  padding: 100px 0;
}

.inner-container {
  border: 2px solid var(--text-color);
  transition: all .3s ease-in-out;
  width: 55%;
  float: right;
  background-color: var(--box-color);
  padding: 150px;
}

.inner-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text {
  font-size: 13px;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

a {
  transition: all .3s ease-in-out;
  text-decoration: none;
  color: var(--text-color);
}

@media screen and (max-width:1200px) {
  .inner-container {
    padding: 80px;
  }
}

@media screen and (max-width:1000px) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }

  .inner-container {
    width: 100%;
  }
}

@media screen and (max-width:600px) {
  .about-section {
    padding: 0;
  }

  .inner-container {
    padding: 20px;
  }
}
