<body class="body">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <div class="about-section">
    <div class="inner-container">
      <h1 class="header">About Me</h1>
      <p class="text header">
        Hello World 👋 I'm an app creator - Working on InstagramBotz, SpottyBoty, MessBot, LinkedInTools and
        AutoClassJoiner. Currently freelance developer. Actually working on next automations. Using/Learning C#,
        Javascript and Selenium. We got many great feedback from our customers.
      </p>
      <div class="skills header">
        <a href="https://discord.gg/b5xEUk7bRG">
          <span>Discord</span>
        </a>
        <a href="https://github.com/CodeChar">
          <span>Github</span>
        </a>
        <a routerLink="/email">
          <span>Send me a mail</span>
        </a>
      </div>
      <p style="color: var(--text-color); padding: 15px 0; margin-bottom: -20px; transition: all .3s ease-in-out;" align="center">
        &copy; 2022 Copyright: <a routerLink="/email"
          style="color: var(--text-color); text-decoration: none;">Created By: CodeChar</a>
      </p>
    </div>
  </div>
</body>
